<ion-header translucent>
  <ion-toolbar>
    <ion-title>Piece Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img [src]="item.imagePath">
    <ion-card-header>
      <ion-card-subtitle>{{item.piece.pieceSubCategory.name}}</ion-card-subtitle>
      <ion-card-title>{{item.piece.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.piece.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
