<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-button style="padding: 0" (click)="onBackCategories($event)">
        <ion-icon name="chevron-back-outline" style="zoom: 1.4;"></ion-icon>
        Back
      </ion-button>-->
      <!--<ion-back-button></ion-back-button>-->
    </ion-buttons>

    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="filterTerm" placeholder="Filter by name">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item-sliding #ionItemSliding *ngFor="let item of gallery | PieceFilter: filterTerm">
            <ion-item-options side="start">
              <ion-item-option (click)="onDeletePiece(item)" color="danger" expandable>
                Delete
              </ion-item-option>
            </ion-item-options>
            <ion-item (click)="onShowDetail(item)">
              <ion-thumbnail slot="start">
                <img [src]="item.imagePath">
              </ion-thumbnail>
              <ion-label>
                <h3>{{item.piece.name}}</h3>
                <p>{{item.piece.pieceSubCategory.name}}</p>
              </ion-label>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="onUpdatePiece(ionItemSliding, item)">
                Update
              </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="addPiece($event)">
        <ion-icon name="image-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
